.popup {
  width: 80%;
  background: #f9be7c;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
  visibility: visible;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup label {
  font-size: 30px;
  color: #0d253f;
  font-family: Chewy;
}

.popup textarea {
  font-family: Chewy;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 15px;
  font-size: 18px;
  color: #4d4e4e;
  outline: none;
}

.buttons-area {
  display: flex;
  justify-content: space-around;
}
