.list-component {
  background: #309398;
  border-radius: 25px 25px 0 0;
}
.headList {
  font-family: Chewy;
  color: #f3f3f3;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
}
.no-todos {
  display: flex;
  justify-content: center;
  background: #fff9eb;
  color: #0d253f;
  border-radius: 25px;
  margin: 15px auto;
  font-family: Chewy;
  font-size: 15px;
  width: 80%;
  position: relative;
  top: -40px;
  padding: 15px;
}
.todos-space {
  height: auto;
  position: relative;
  top: -140px;
  padding: 0;
}
.btn {
  border-radius: 30px;
  padding: 0 10px;
  height: 40px;
  color: #f3f3f3;
  font-size: 20px;
  font-family: Chewy;
  cursor: pointer;
  border: none;
  background: #e46471;
  align-self: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .list-component {
      min-height: 80%;
  }
}

@media screen and (min-width: 992px) {
  .list-component {
    height: 55%;
    margin-top: 25px;
    border-radius: 25px;
  }
}