.list-component {
  background: #309398;
  margin-top: 20px;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
.headList {
  text-align: center;
  font-family: Chewy;
  color: #f3f3f3;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.no-todos {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-self: center;
  background: #fff9eb;
  color: #0d253f;
  border-radius: 25px;
  margin: 15px;
  font-family: Chewy;
  font-size: 20px;
  width: 80%;
  position: relative;
  top: -40px;
  padding: 15px;
}
.todos-space {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -40px;
  padding: 0;
  justify-content: center;
}
.btn {
  border-radius: 30px;
  padding: 0 10px;
  height: 40px;
  color: #f3f3f3;
  font-size: 20px;
  font-family: Chewy;
  cursor: pointer;
  border: none;
  background: #e46471;
  align-self: center;
}

@media screen and (max-width: 550px) {
  .list-component {
    min-height: 40vh;
  }
}
