.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Chewy;
  color: #0d253f;
  background: #f9be7c;
  width: 100%;
  border-radius: 0 0 25px 25px;
}
.mainTitle {
  font-size: 80px;
  margin: 15px;
  align-self: center;
}
.secondTitle {
  align-self: center;
  margin: 15px;
}
@media screen and (min-width: 992px) {
  .container {
    height: 95%;
    width: 35%;
    margin: 20px;
    border-radius: 25px;
  }
}