* {
  box-sizing: border-box;
}
.main-container {
  background-color: #fff9eb;
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 100vh;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.scrol-list::-webkit-scrollbar-thumb {
  background-color: #f9be7c;
  border-radius: 20px;
}
.scrol-list::-webkit-scrollbar {
  width: 5px;
}
@media screen and (min-width: 992px) {
  .main-content {
    height: 100%;
    width: 55%;
  }
  .scrol-list {
    overflow-y: scroll;
    height: 550px;
  }
}
