* {
  box-sizing: border-box;
}
.main-container {
  background-color: #fff9eb;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
}
.scrol-list::-webkit-scrollbar-thumb {
  background-color: #f9be7c;
  border-radius: 20px;
}
.scrol-list::-webkit-scrollbar {
  width: 5px;
}
@media only screen and (max-width: 770px){
  .main-content {
    width: 125%;
  }
}
@media only screen and (min-width: 770px){
  .scrol-list {
    overflow-y: scroll;
    height: 65vh;
  }
}
@media only screen and (max-height: 770px) {
  .main-container{
    width: 132%;
  }
  .main-content {
    width: 120vw;
  }
  .scrol-list {
    overflow-y: initial;
    height: auto;
  }
}
