.background {
  fill: #f3f3f3;
  stroke: #e46471;
}
.progress {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.text {
  font-size: 40px;
  font-weight: bold;
  font-family: Chewy;
}
