.background {
    fill: #F3F3F3;
    stroke: #E46471;
}
.progress {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.text {
    font-size: 40px;
    font-weight: bold;
    font-family: Chewy;
}