.bar-component {
  display: flex;
  min-width: 320px;
  padding: 15px;
  margin: 15px;
  border-radius: 40px;
  background: #e46471;
}
.search {
  font-family: Chewy;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 0 15px;
  border: none;
}