.todo-component {
  background: #fff9eb;
  list-style-type: none;
  border-radius: 25px;
  padding: 15px;
  color: #0d253f;
  font-family: Chewy;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 15px 15px;
  min-width: 300px;
  width: 30vw;
}
.todo-text {
  display: flex;
  max-width: 70%;
  text-align: center;
  align-items: center;
}
.todo-button {
  border: none;
  background: none;
  font-family: Chewy;
  font-size: 20px;
  font-weight: 1000;
}
@media only screen and (max-width: 770px) {
  .todo-component {
    width: 80vw;
  }
}

@media only screen and (max-height: 770px) {
  .todo-component {
    width: 80vw;
  }
}